    --one-if-corner-shape-supported: 1;
    font-family: sans-serif;
    font-size: 12px;
    --token-b858bd26-990b-4c52-a949-3306e1bc707c: #09090b;
    --token-6e72e44e-6f8a-42bb-a6a3-d6273cccbe6c: #444;
    --token-3677bebb-5d81-49e6-bac8-98eb394debfc: #5e5e5e;
    --token-1f20c41e-7462-4d1a-a26e-7d0d661dd0c6: #f8f8f8;
    --token-236d1a6f-ffdb-423c-989b-c6111c07d28a: #fff;
    --token-8baa47cd-4286-43a1-b11c-29c451c3cf85: #dbdbdb;
    --token-4c13ca22-c476-4246-866a-f86abdde780e: #000;
    --token-33831f0a-b6f2-4a0c-b374-dd6a1619749f: #959595;
    --token-fb12e452-5cc0-4bf6-a721-de659eb1ddc7: #ebebeb;
    --token-c2c9f9b3-7ca4-4ca5-baeb-06b83ee1143d: #09090980;
    --token-fa86e197-5efb-4934-8924-e55e1aa891e4: #fff;
    --token-7496f0b0-c74e-4879-85f5-c75a9426fe9f: #f5f5f5;
    --token-4970d329-1977-4fec-ab8d-ebce799c4608: #f97d00;
    --token-3fc3cbcf-959f-4119-8490-9b203e781c7d: #f8f4e5;
    --token-3f378551-2352-455c-be4e-8500a4e493cd: #f5f3f0;
    --token-5fcecd77-74f6-4ca2-a07c-65f98c94385b: #473c39;
    --token-ebf29a02-4ce0-4bf8-978d-b1501dc75037: #5b4f4b;
    --token-209a561f-2bb5-4141-b1bf-8904d2113f26: #1d1816;
    --token-2e09ff52-92c4-4da1-b65d-143583558dff: #7c6d67;
    --token-a1f6d27f-29ab-46b7-97cd-9a2b8e7b7c68: #e8e4e3;
    --token-d5c9fbb0-93cf-4287-9309-e7a5df514ce9: #d8d2d0;
    --token-d0197ffb-9bbb-4097-91f6-c21eb2c7d0da: #ec5b5b;
    --token-a3d1d576-f21b-42c0-8da0-829d6f680ea8: #000;
    --token-0ebc67ee-58eb-430c-918d-b4a7907d2d6b: #787168;
    --token-4b31985e-c7fd-4f15-a85f-cde50cf7899e: #e3e1df;
    --token-0af12c9f-ee93-4549-9d64-ddeee6a79722: #f0efef;
    --token-999b4f78-1328-43f5-b321-773d9da3da3d: #f5f3f1;
    --token-465e3bc1-b8f2-401e-a567-4af83eca4f00: #fcfcfc;
    --token-7553181b-50f3-46b3-9924-66bc83d5aff2: #a59f98;
    --framer-will-change-override: none;
    --framer-will-change-filter-override: none;
    --framer-aspect-ratio-supported: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
    height: min-content;
    overflow: var(--overflow-clip-fallback,clip);
    flex-flow: column;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    padding: 40px 0 48px;
    display: flex;
    position: relative;
    order: 0;